*.class
/tmp/
build/
lib/

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/


.gradle/7.1/executionHistory/
.gradle/7.1/fileHashes/

src/main/resources/plugins/*.jar
out

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/main/**/out
!**/src/test/**/out/

# ---- Sonar
.sonar
/.idea/sonarlint


# ---- Eclipse
.classpath
.project
.settings

# ---- Maven
target

#Gradle
.gradle/

# ---- Mac OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# ---- Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Gradle
.gradle
classes
build