<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="$  %msg%n"/>
    </Console>

    <File append="true" fileName="./tmp/log4j2.log"
      name="File">
      <PatternLayout
        pattern="%d{HH:mm:ss} %-5level $  %msg%n"
      />
    </File>
    <Syslog appName="a64a6519-62a0-4309-8a43-b6240e86d4a3"
      facility="LOCAL0"
      format="RFC5424"
      host="logsene-syslog-receiver.sematext.com"
      mdcId="mdc" name="Syslog" newLine="true" port="514"
      protocol="TCP"/>

  </Appenders>

  <Loggers>
    <Root level="debug">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="Syslog"/>
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>

